/nbproject/private/
/lab3ArquitecturaSoftware-war/nbproject/private/
/lab3ArquitecturaSoftware-ejb/nbproject/private/
/lab3ArquitecturaSoftware-ejb/build/
/lab3ArquitecturaSoftware-ejb/dist/
/lab3ArquitecturaSoftware-war/build/
/build/
/dist/
/lab3ArquitecturaSoftware-war/dist/